:root {
  --main-font: 'Roboto', Open Sans, Arial;

  --color-white: #ffffff;
  --color-black: #191919;
  --color-gray-dark: #757575;
  --color-gray-light: #808080;
  --color-black-light: #292929;

  --color-divider: #e6e6e6;

  --sidebar-width: 80px;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
  color: var(--color-black);
  font-family: var(--main-font);
}
